@model MVCWebApp.Models.mvcUserModel
@{
    ViewBag.Title = "AddOrEdit";
}

<div class="form-body">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.UserId)

        <div class="form-group">
            @Html.LabelFor(model => model.UserName)
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)

            @Html.LabelFor(model => model.LastName)
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)

            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)

            @Html.LabelFor(model => model.Mobile)
            @Html.EditorFor(model => model.Mobile)
            @Html.ValidationMessageFor(model => model.Mobile)

        </div>
        <div class="=form-group">
            <input type="submit" value="Submit" class="btn button" />
            <input type="reset" value="reset" class="btn button" />

        </div>
    }
</div>

@section scripts {
  @Scripts.Render("~/bundles/jqueryval");
}